{% extends "base.html" %}

{% load filters %}

{% block title %}Relatório de Locação{% endblock %}

{% block content %}

<div class="container"> 
    <div class="row g-3 align-items-center m-3 bg-light p-3 d-flex justify-content-center">
        <div class="col-auto text-center">
            <label for="searchInput" class="form-label"><strong>Pesquisar por cliente</strong></label>
            <form class="d-flex" action="{% url "reports" %}">
                <input name="client" type="search" class="form-control me-2" id="searchInput" placeholder="Nome ou E-mail" aria-label="Search">
                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="col-auto text-center">
            <form class="d-flex align-items-end" action="{% url "reports" %}">
                <div class="me-2">
                    <label for="startDate" class="form-label"><strong>Data Início</strong></label>
                    <input name="start_date" type="date" value="{{request.GET.start_date}}" class="form-control" id="startDate">
                </div>
                <div class="me-2">
                    <label for="endDate" class="form-label"><strong>Data Fim</strong></label>
                    <input name="end_date" type="date" value="{{request.GET.end_date}}" class="form-control" id="endDate">
                </div>
                <div>
                    <button class="btn btn-outline-dark" type="submit"><i class="fas fa-filter"></i></button>
                </div>
            </form>
        </div>
        <div class="col-auto text-center">
            <form action="{% url "reports" %}">
                <label for="statusSelect" class="form-label"><strong>Status</strong></label>
                <select name="is_rented" class="form-select" id="statusSelect" onchange="this.form.submit()">
                    <option></option>
                    <option value="True" {% if request.GET.is_rented == "True" %}selected{% endif %}>Locado</option>
                    <option value="False" {% if request.GET.is_rented == "False" %}selected{% endif %}>Disponível</option>
                </select>
            </form>
        </div>
        <div class="col-auto text-center">
            <form action="{% url "reports" %}">
                <label for="typeSelect" class="form-label"><strong>Tipo de Imóvel</strong></label>
                <select name="type" class="form-select" id="typeSelect" onchange="this.form.submit()">
                    <option></option>
                    <option value="Apartamento" {% if request.GET.type == "Apartamento" %}selected{% endif %}>Apartamento</option>
                    <option value="Kitnet" {% if request.GET.type == "Kitnet" %}selected{% endif %}>Kitnet</option>
                    <option value="Casa" {% if request.GET.type == "Casa" %}selected{% endif %}>Casa</option>
                </select>
            </form>
        </div>              
        <div class="col-auto d-flex align-items-center justify-content-center mt-3">
            <a class="btn btn-warning btn-block" style="position: relative; top: 15px;" href="{% url "reports" %}">
                <i class="fas fa-trash"></i>
            </a>
        </div>        
    </div>    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Data Início</th>
                    <th scope="col">Data Fim</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Cód.</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Locado</th>
                </tr>
            </thead>
            <tbody>
                {% for real_estate in real_estates %}
                <tr>
                    <td scope="row" class="text-center">{{ real_estate.id }}</td>
                    <td scope="row" class="text-center">{% if real_estate.rental_register.all %}
                        {% for rental in real_estate.rental_register.all %}
                            {{ rental.start_date|date:"d/m/Y" }}
                        {% endfor %}
                    {% else %}
                        -{% endif %}
                    </td>
                    <td scope="row" class="text-center">{% if real_estate.rental_register.all %}
                        {% for rental in real_estate.rental_register.all %}
                            {{ rental.end_date|date:"d/m/Y" }}
                        {% endfor %}
                    {% else %}
                        -{% endif %}
                    </td>
                    <td scope="row" class="text-center">{% if real_estate.rental_register.all %}
                        {% for rental in real_estate.rental_register.all %}
                            {{ rental.client }}
                        {% endfor %}
                    {% else %}
                        -{% endif %}
                    </td>
                    <td scope="row" class="text-center">{{ real_estate.code }}</td>
                    <td scope="row" class="text-center">{{ real_estate.type }}</td>
                    <td scope="row" class="text-center">{{ real_estate.price|currency_brl }}</td>
                    <td scope="row" class="text-center">
                        {% if real_estate.is_rented == True %}
                            <i class="fas fa-check-circle fa-2x text-success"></i>
                        {% else %}
                            <i class="fas fa-minus-circle fa-2x text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
</div>

{% endblock %}
